<div class="jumbotron">
  <h1 style="text-align:center;">Name Placeholder</h1>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-sm-4 col-sm-offset-4">
      <%= link_to "Browse Arguments", arguments_path(:search => ""), :class => "btn btn-warning" %>
    </div>
  </div>

</div>

<h2>View Sample Arguments:</h2>
  <div class="row">

    <% @arguments.sample(4).each do |argument| %>
      <div class="col-md-3 img col-sm-6 col-xs-6" style="text-align:center; ">
   	    <%= link_to argument_path(argument) do %> 
          <div class="preview"> 
            <iframe  id="form" height="140" width="140" src= <%="arguments/#{argument.id}" %>> </iframe> 
          </div> 
        <% end %>

        <p class="arg-title" > 
          <%= argument.title %> 
        </p>      
      </div>
    <% end %>

  </div>








