/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.img { padding: 10px;}

ol {list-style-type: decimal;}
ol ol {list-style-type: lower-alpha;}
ol ol ol {list-style-type:lower-roman;}
ol ol ol ol {list-style-type:lower-greek;}
ol ol ol ol ol{list-style-type:lower-roman;} 

.new-arg-fixedbutton {
  position: fixed;
  bottom: 10px;
  right: 10px; 
}

.arg-title{
  height:140px; 
  width:140px; 
  display: inline-block; 
  position: relative; 
  overflow: hidden; 
}

/* Without this class/container, the scaled iframes maintain
   their massive (pre-scaled) dimensions */
.preview {
  width: 140px; height: 140px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

/* iframes are initially set large enough to get a good view
   of the contained page. They are then scaled down to one-
   tenth their original size */
.preview iframe {
  width: 1020px; height: 768px;
  -webkit-transform: scale(.2); -webkit-transform-origin: 0 0;
  -moz-transform: scale(.2); -moz-transform-origin: 0 0;
  -ms-transform: scale(.2); -ms-transform-origin: 0 0;
  -o-transform: scale(.2); -o-transform-origin: 0 0;
  transform: scale(.2); transform-origin: 0 0;
}

/* Prevents the user from interacting with the iframe page */
.preview:after,
.preview::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
}

ul.nav a:hover, .navbar-header a:hover{ color: #bfbfbf !important;}

body {background: #efefef !important;}

.navbar-brand, ul.nav a{ color:white !important;}
